/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**** General Styles ****/

html {
    background-color: black;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

p {
    margin: 1rem auto;
    width: 80%;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.container {
    background-color: cadetblue;
    margin: 0 5%;
    padding: 1em;
}

img {
    margin: 0px auto;
}
/*** header Stles ***/
header .container {
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    border-bottom: 2px solid black;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Dropdown Button */
.dropbtn {
    background-color: cadetblue;
    color: black;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    align-self: flex-end;
    direction: rtl;
    margin: auto 1rem;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    direction: rtl;
    background-color: cadetblue;
    min-width: 160px;
    border: 2px solid black;
    border-radius: 10%;
    border-top-right-radius: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: .75rem 1rem;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    text-decoration: underline;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    text-decoration: underline;
    border-bottom: 0;
    padding-bottom: calc(1rem + 2px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li {
    margin: 1rem 1rem;
}

nav ul li a{
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10%;
}

nav ul li a:visited,
nav ul li a:link {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
/*** Main Stles ***/

.infobox {
    display: flex;
    flex-flow: column nowrap;
}

dt {
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

dd {
    text-indent: 3rem;
}
/*** footer Stles ***/
